@using mvc_net_Crm.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Urun Listesi</h2>
<br />
<table id="tbl1" class="table table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th>Barkod</th>
            <th>Kategori</th>
            <th>Marka</th>
            <th>Urun Adi</th>
            <th>Stok</th>
            <th>Gorsel</th>
            <th style="width: 150px">#</th>
            <th style="width: 150px">#</th>
            <th style="width: 150px">#</th>
            <th style="width: 150px">#</th>
        </tr>
    </thead>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Barkod</td>
            <td>@u.Kategori.KategoriAd<!-- BURDA ILISKILI TABLODAN BILGI CEKILIYOR--></td>
            <td>@u.Marka.MarkaAd<!-- BURDA ILISKILI TABLODAN BILGI CEKILIYOR--></td>
            <td>@u.UrunAd</td>
            <td>@u.Stok</td>
            <td>@u.UrunGorsel</td>
            <td align="center"><a href="/Urun/UrunGetir/@u.Urunid" class="btn btn-success"><i class="fas fa-database"></i> Guncelle</a></td>
            <td align="center"><a href="/Urun/UrunStokHareket/@u.Urunid" class="btn btn-success" align="right"><i class="fas fa-database"></i> Stok H.</a></td>
            <td align="center"><a href="/Urun/UrunStokHareketALL/@u.Urunid" class="btn btn-success" align="right"><i class="fas fa-database"></i> Tum Stok H.</a></td>
            <td align="center"><a href="/Urun/UrunSil/@u.Urunid" class="btn btn-danger" align="right"><i class="fas fa-trash"></i> Sil</a></td>
        </tr>
    }
</table>
<a href="/Urun/UrunEkle/" class="btn btn-primary">Urun Ekle</a>


@*DATATABLES YAPISI VE UI SEKILLENDIRME BLOGU*@

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
@*<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js "></script>*@
<link href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>

<script>
    $('#tbl1').dataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });
</script>

@*DATATABLES YAPISI VE UI SEKILLENDIRME BLOGU*@