@using mvc_net_Crm.Models.Siniflar
@using mvc_net_Crm.Controllers
@model  IEnumerable<OrtakStokHareketView>
@{
    ViewBag.Title = "UrunStokHareketALL";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int toplamgiris = 0;
    int toplamcikis = 0;
    int geneldurum = 0;
}
<br />
<h2>Tum Stok Hareketleri</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Urun Adi : @ViewBag.dgr1 </li>
</ol>

<!--<div style="background:#CCC; width:auto; height:60px; margin-bottom:5px;">Üst</div>-->
<div style="float: left; margin-left: 0px; background: #ffffff; height: auto; width: 50%; display: inline;">
    <table class="table table-condensed">
        <tr>
            <th>Transaction</th>
            <th>Tarih</th>
            <th>BelgeTuru</th>
            <th>Urun</th>
            <th>Ambar</th>
            <th>Hareket</th>
            <th>Adet</th>
        </tr>
        @foreach (var x in Model)

        {
            if (x.Z_StokHareketTuru == "GIRIS")
            {
                <tr>
                    <td>@x.Z_TransactionNo</td>
                    <td>@x.Z_Tarih.ToString("dd.MM.yyy")</td>
                    <td>@x.Z_BelgeTuru</td>
                    <td>@x.Z_UrunAd</td>
                    <td>@x.Z_Ambarid</td>
                    <td>@x.Z_StokHareketTuru</td>
                    <td>@x.Z_Adet</td>
                </tr>
                toplamgiris = toplamgiris + x.Z_Adet;
            }
        }
    </table>

</div>
<div style="float: left; margin-right: 0px; background: #ffffff; width: 50%; height: auto; display: inline ">
    <table class="table table-condensed">
        <tr>
            <th>Transaction</th>
            <th>Tarih</th>
            <th>BelgeTuru</th>
            <th>Urun</th>
            <th>Ambar</th>
            <th>Hareket</th>
            <th>Adet</th>

        </tr>
        @foreach (var x in Model)

        {
            if (x.Z_StokHareketTuru == "CIKIS")
            {
                <tr>
                    <td>@x.Z_TransactionNo</td>
                    <td>@x.Z_Tarih.ToString("dd.MM.yyy")</td>
                    <td>@x.Z_BelgeTuru</td>
                    <td>@x.Z_UrunAd</td>
                    <td>@x.Z_Ambarid</td>
                    <td>@x.Z_StokHareketTuru</td>
                    <td>@x.Z_Adet</td>
                </tr>
                toplamcikis = toplamcikis + x.Z_Adet;
            }
            geneldurum = toplamgiris - toplamcikis;
        }
    </table>

</div>
<br />
<br />

<div class="breadcrumb mb-4" style="width: 100%;">
    <div class="breadcrumb mb-4" style="width: 50%;">
        <table>
            <tr><th style="width: 50%;">| Toplam GIRIS: @toplamgiris </th></tr>
            @*<tr><td style="width: 50%;"> @toplamgiris</td></tr>*@
        </table>
    </div>
    <div class="breadcrumb mb-4" style="width: 50%;">
        <table>
            <tr><th style="width: 50%;">| Toplam CIKIS: @toplamcikis</th></tr>
            @*<tr><td style="width: 50%;"> @toplamcikis</td></tr>*@
        </table>
    </div>
</div>


<br />

@if (geneldurum > 0)
{
    <div class="breadcrumb mb-4" style="float: left; overflow:auto; background: #58780a; margin-left: 0px; width: 100%; height: 100px; margin-top: 5px; "><span style="text-align:center; color:white;font-size:xx-large;font-weight:bold">STOK DURUMU : @geneldurum </span></div>

}
else
{
    <div class="breadcrumb mb-4" style="float: left; overflow:auto; background: #ff0000; margin-left: 0px; width: 100%; height: 100px; margin-top: 5px; "><span style="text-align: center; color: white; font-size: xx-large; font-weight: bold">STOK DURUMU : @geneldurum </span></div>
}


