@model mvc_net_Crm.Models.Siniflar.Urun
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Urun Guncelleme</h2>
<br />
@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(x => x.Kategoriid)
        @Html.DropDownListFor(x => x.Kategoriid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        @*Html.TextBoxFor(x => x.Kategoriid, new { @class = "form-control" })*@
        <br />
        @Html.LabelFor(x => x.Markaid)
        @*Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })*@
        @Html.DropDownListFor(x => x.Markaid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        <br />
        @Html.HiddenFor(x => x.Urunid)
        @Html.LabelFor(x => x.UrunAd)
        @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Barkod)
        @Html.TextBoxFor(x => x.Barkod, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.AlisFiyat)
        @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.SatisFiyat)
        @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Durum)
        @*Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })*@
        @Html.DropDownListFor(x => x.Durum, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning">Guncelle</button>
}


