@using mvc_net_Crm.Models.Siniflar
@model  List<FinansalHareket>
@{
    ViewBag.Title = "FinansHareketleriALL";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    decimal toplamtahsilat = 0;
    decimal toplamodeme = 0;
    decimal geneldurum = 0;
    String durum = "";
}
<br />
<h2>Finans Hareketleri</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Finans Hesap Bilgisi : @ViewBag.dgr1 </li>
</ol>

<!--<div style="background:#CCC; width:auto; height:60px; margin-bottom:5px;">Üst</div>-->
<div style="float: left; margin-left: 0px; background: #ffffff; height: auto; width: 50%; display: inline;">
    @*<table class="table table-condensed">*@
    <table class="table table-bordered">
        <tr>
            <th>TransactionNo</th>
            <th>Tarih</th>
            <th>Cari</th>
            <th>FinansHesabi</th>
            <th>BelgeTuru</th>
            <th>HareketTuru</th>
            <th>Tutar</th>

        </tr>
        @foreach (var x in Model)

        {
            if (x.BelgeTuru.Contains("TAHSILAT"))
            {
                <tr>
                    <td>@x.FinansalHareketid</td>
                    <td>@x.Tarih.ToString("dd.MM.yyy")</td>
                    <td>@x.Cariler.CariAd</td>
                    <td>@x.FinansHesaplari.FinansHesapAdi</td>
                    <td>@x.BelgeTuru</td>
                    <td>@x.FinansalHareketTuru</td>
                    <td style="text-align:right">@x.Tutar.ToString("###,##0.00")</td>
                </tr>
                toplamtahsilat = toplamtahsilat + x.Tutar;
            }
        }
    </table>

</div>
<div style="float: left; margin-right: 0px; background: #ffffff; width: 50%; height: auto; display: inline ">
    <table class="table table-bordered">
        <tr>
            <th>TransactionNo</th>
            <th>Tarih</th>
            <th>Cari</th>
            <th>FinansHesabi</th>
            <th>BelgeTuru</th>
            <th>HareketTuru</th>
            <th>Tutar</th>
        </tr>
        @foreach (var x in Model)

        {
            if (x.BelgeTuru.Contains("ODEME"))
            {
                <tr>
                    <td>@x.FinansalHareketid</td>
                    <td>@x.Tarih.ToString("dd.MM.yyy")</td>
                    <td>@x.Cariler.CariAd</td>
                    <td>@x.FinansHesaplari.FinansHesapAdi</td>
                    <td>@x.BelgeTuru</td>
                    <td>@x.FinansalHareketTuru</td>
                    <td style="text-align:right">@x.Tutar.ToString("###,##0.00")</td>
                </tr>
                toplamodeme = toplamodeme + x.Tutar;
            }
            geneldurum = toplamtahsilat - toplamodeme;
        }
    </table>

</div>
<br />
<br />

<div class="breadcrumb mb-4" style="width: 100%; height:100px">
    <div style="width: 50%;">
        <table class="table table-borderless">
            <tr><th style="width: 50%; text-align: right; font-size: large; font-weight: bold">| Toplam TAHSILAT: @toplamtahsilat.ToString("###,##0.00") </th></tr>
        </table>
    </div>
    <div style="width: 50%; height: 100px">
        <table class="table table-borderless">
            <tr><th style="width: 50%; text-align: right; font-size: large; font-weight: bold">| Toplam ODEME: @toplamodeme.ToString("###,##0.00")</th></tr>
        </table>
    </div>
</div>


<br />

@if (geneldurum > 0)
{
    durum = "BAKIYE MEVCUT";
    <div class="breadcrumb mb-4" style="float: left; overflow:initial; background: #58780a; margin-left: 0px; width: 100%; height: 100px; margin-top: 5px; ">
        <table class="table table-borderless"><tr><th style="width: 100%; text-align: center; color:white;font-size:xx-large;font-weight:bold">BAKIYE DURUMU : @geneldurum.ToString("###,##0.00") @durum </th></tr></table>
    </div>

}
else if (geneldurum == 0)
{
    <div class="breadcrumb mb-4" style="float: left; overflow:initial; background: gray; margin-left: 0px; width: 100%; height: 100px; margin-top: 5px; ">
        <table class="table table-borderless"><tr><th style="width: 100%; text-align: center; color:white;font-size:xx-large;font-weight:bold">BAKIYE DURUMU : @geneldurum.ToString("###,##0.00") </th></tr></table>
    </div>
}
else
{
    durum = "EKSI (-) BAKIYE";
    <div class="breadcrumb mb-4" style="float: left; overflow:initial; background: #ff0000; margin-left: 0px; width: 100%; height: 100px; margin-top: 5px; ">
        <table class="table table-borderless"><tr><th style="width: 100%; text-align: center; color:white;font-size:xx-large;font-weight:bold">BAKIYE DURUMU : @geneldurum.ToString("###,##0.00")  @durum </th></tr></table>
    </div>
}




