@model mvc_net_Crm.Models.Siniflar.Cariler
@{
    ViewBag.Title = "CariEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Cari Sayfasi</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.CariAd)
    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariAd, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CariSoyad)
    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSoyad, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CariSehir)
    @Html.DropDownListFor(x => x.CariSehir, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CariMail)
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kaydet</button>

</form>

