@model mvc_net_Crm.Models.Siniflar.Cariler
@{
    ViewBag.Title = "CariGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Cari Guncelleme</h2>
<br />
@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.Cariid)
        @*Html.TextBoxFor(x => x.Kategoriid, new { @class = "form-control" })*@
        <br />
        @Html.LabelFor(x => x.CariAd)
        @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CariSoyad)
        @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CariMail)
        @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CariSehir)
        @*Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })*@
        @Html.DropDownListFor(x => x.CariSehir, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Durum)
        @*Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })*@
        @Html.DropDownListFor(x => x.Durum, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning">Guncelle</button>
}
