@using mvc_net_Crm.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Musteri Satis Hareketleri</h2>
<br />
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Musteri Adi : @ViewBag.dgr1 </li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Satis ID</th>
        <th>Urun</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Satisid</td>
            <td>@x.Urun.UrunAd</td>
            <td>@x.Cariler.CariAd @x.Cariler.CariSoyad</td>
            <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
            <td>@x.Fiyat</td>
            <td>@x.Adet</td>
            <td>@x.ToplamTutar</td>
            <td>@x.Tarih</td>
            <td><a href="/Departman/DepartmanPersonelSatis/@x.Personelid" class="btn btn-default" style="background-color:darkgrey"><i class="fas fa-print"></i> Yazdir</a></td>
        </tr>
    }
</table>

