@model mvc_net_Crm.Models.Siniflar.Faturalar
@{
    ViewBag.Title = "FaturaGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Fatura Guncelleme Ekrani</h2>
<br />
@using (Html.BeginForm("FaturaGuncelle", "Fatura", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Faturaid)
        @Html.LabelFor(x => x.Faturaid)
        @Html.TextBoxFor(x => x.Faturaid, new { disabled = "disabled", @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Cariid)
        @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr1, new { disabled = "disabled", @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.TeslimEden)
        @Html.DropDownListFor(x => x.TeslimEden, (List<SelectListItem>)ViewBag.dgr8, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.TeslimAlan)
        @Html.DropDownListFor(x => x.TeslimAlan, (List<SelectListItem>)ViewBag.dgr9, new { @class = "form-control" })
        <br />
    </div>
    <button class="btn btn-warning">Fatura Guncelle</button>
}
