@using mvc_net_Crm.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Personel Listesi</h2>
<br />
<table class="table table-striped table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Personel Adi</th>
        <th>Personel Soyadi</th>
        <th>Gorsel</th>
        <th>Departman</th>
        <th>Durum</th>
        <th style="width: 150px">#</th>
        <th style="width: 150px">#</th>
        <th style="width: 150px">#</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.Personelid
            </td>
            <td>
                @k.PersonelAd
            </td>
            <td>
                @k.PersonelSoyad
            </td>
            <td>
                @k.PersonelGorsel
            </td>
            <td>
                @k.Departman.DepartmanAd
            </td>
            <td>
                @k.Durum
            </td>
            <td align="center">
                <a href="/Departman/DepartmanPersonelStokHareket/@k.Personelid" class="btn btn-success"><i class="fas fa-database"></i> Hareketler</a>
            </td>
            <td align="center">
                <a href="/Personel/PersonelGetir/@k.Personelid" class="btn btn-success"><i class="fas fa-database"></i> Guncelle</a>
            </td>
            <td align="center">
                <a href="/Personel/PersonelSil/@k.Personelid" class="btn btn-danger" align="right"><i class="fas fa-trash"></i> Sil</a>
            </td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle" class="btn btn-primary">Personel Ekle</a>

