@model mvc_net_Crm.Models.Siniflar.StokHareket
@{
    ViewBag.Title = "StokHareketGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Stok Hareket Guncelleme</h2>
<br />
@using (Html.BeginForm("StokHareketGuncelle", "StokHareket", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.StokHareketid)
        @Html.LabelFor(x => x.StokHareketid)
        @Html.TextBoxFor(x => x.StokHareketid, new { disabled = "disabled", @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Urun)
        @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { disabled = "disabled", @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Cariid)
        @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr2, new { disabled = "disabled", @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.StokHareketTuru)
        @Html.DropDownListFor(x => x.StokHareketTuru, (List<SelectListItem>)ViewBag.dgr5, new { disabled = "disabled", @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Adet)
        @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Fiyat)
        @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
        <br />
    </div>
    <button class="btn btn-warning">Stok Hareket Guncelle</button>
}